@charset "utf-8";
/* CSS Document */

.ui-header .ui-title, .ui-footer .ui-title
{
	margin:0.6em 15% 0.8em;
	font-size:13px;
}
.ui-btn-corner-all
{
	border-radius:10px;
}
.alert_box
{
	padding:10px;
}
.alert_box a span.ui-btn-inner
{
	font-size:13px;
}
div.ui-slider-switch
{
	width:5em;
}
#Logo
{
	width:50%;
}
.login div.ui-input-text input.ui-input-text
{
	padding:0.5em 10px 0.5em 2.5em;
	font-size:20px;
}
.login
{
	padding:0px;
}
.login div.ui-input-text input.ui-input-text.email, .login div.ui-input-text input.ui-input-text.lock
{
	background-size:24px;
}